body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header,
main {
    font-size: 2rem;
    font-weight: 700;
    padding: 3.4rem;
    display: flex;
    justify-content: space-between;
}

header.dark,
main.dark {
    background-color: #000;
    color: orange;
}

header {
    align-items: center;
}

h1 {
    font-weight: 900;
    margin: 0;
    font-size: 6rem;
    text-align: center;
}

main {
    text-align: center;
}

main img {
    width: 50%;
}